<% title 'List of Pages' %>

<h3><%= yield(:title) %></h3>

<div class="entry">
  <% @static_pages.each do |static_page| %>
    <p>
      <%= link_to static_page.title, static_page %>
  
      <% if admin? %>
      <span class="actions">
        <%= link_to image_tag('edit.png'), edit_static_page_path(static_page) %>
        <%= link_to image_tag('delete.png'), static_page, :confirm => 'Are you sure?', :method => :delete %>
      </span>  
      <% end %>
    </p>
  <% end %>
  
  <% if admin? %>
    <br/>
    <p><%= link_to 'Create new Page', new_static_page_path %></p>
  <% end %>
</div>
