<h1>Editing try</h1>

<% form_for(@try) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @try %> |
<%= link_to 'Back', tries_path %>
