<h1>Listing tries</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for try in @tries %>
  <tr>
    <td><%=h try.name %></td>
    <td><%= link_to 'Show', try %></td>
    <td><%= link_to 'Edit', edit_try_path(try) %></td>
    <td><%= link_to 'Destroy', try, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New try', new_try_path %>
