<ul>
  <li><%= link_to 'Tu perfil', user_path(current_user) %></li>
  <li><%= link_to 'Propose a Paper', new_paper_path %></li>
  <li><%= link_to 'Pay!', new_shoping_cart_path %></li>
  <li><%= link_to 'User Searcher', users_path %></li>
  <li><%= link_to 'Configurar Calendario', calendar_path %></li>
  <li><%= link_to 'Rooms', rooms_path %></li>
  <li><%= link_to 'Logout', logout_path %></li>
</ul>