<% title "Reseting Password" %>

<h3><%= yield(:title) %></h3>

<% form_tag url_for(:action => 'forgot_password') do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, "", :size => 50 %>
  </p>
  <p>
    <%= submit_tag 'Get a new password' %>
  </p>
<% end %>

<br/>

<p>
  <%= link_to "&laquo; Go back to log in", login_path %>
</p>