<% title "People" %>

<hr/>


<div class="bar">
  <p>
    Filter list showing
    <%= link_to 'all', users_path( :page => '1' ) %> or 
    <%= link_to 'speakers', users_path( :params => { :speakers => '1', :page => '1' } ) %>
    <% if @users.respond_to?( 'total_pages' ) %><%= will_paginate @users %><% end %>
  </p>
</div>

<h3><%= yield(:title) %></h3>

<% for user in @users %>
  <div class="person">
      <%=
        gravatar(
          user.email, 
          :size => 50, 
          :default => "#{base_url}/images/avatar.png",
          :class => 'avatar',
          :alt => "avatar de #{user.name}"
        )
      %>
      
      <br/>
      
      <%= link_to user.name, user %>

    <% if admin? %>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </div>
<% end %>