<% 
  if( !params[:search].blank? && params[:search] == 'speakers' )
    title( 'Speakers' )
    
  elsif( 
    !params[:search].blank? && 
    params[:search] == 'event_attendees' &&
    !params[:event_id].blank?
  )
    title( 'Attendees' )
  
  else
    title( 'All Registered Users' )
  
  end
%>

<div class="bar">
  <p>
    <%= link_to 'Show All', users_path( :page => '1' ) %> 
    (<%= admin? ? User.count : User.public_profile.count %>) | 
    
    <%= 
      link_to(
        'Show Attendees', 
        users_path( 
          :params => { 
            :search => 'event_attendees', 
            :event_id => '1', 
            :page => '1'
          } 
        )
      )
    %> 
    (<%= admin? ? User.has_paid(1).count : User.public_profile.has_paid(1).count %>) | 
    
    <%= link_to 'Show Speakers', users_path( :params => { :search => 'speakers', :page => '1' } ) %>
    (<%= admin? ? User.speaker.count : User.public_speaker.count %>)
  </p>
</div>

<h3><%= yield(:title) %></h3>

<% for user in @users %>
  <div class="grid-item">
      <%=
        gravatar(
          user.email, 
          :size => 50, 
          :default => "#{base_url}/images/avatar.png",
          :class => 'avatar',
          :alt => "avatar de #{user.name}"
        )
      %>
      
      <br/>
      
      <%= link_to user.name, user %>

    <% if admin? %>
      <div class="tiny-actions">
        <%= link_to image_tag('edit.png'), edit_user_path(user) %>
        <%= link_to image_tag('delete.png'), user, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="pagination">
  <p><% if @users.respond_to?( 'total_pages' ) %><%= will_paginate @users %><% end %></p>
</div>

<% if admin? %>
  <h4>Export list</h4>
  <p>
    <ul>
      <li><%= link_to 'PDF', formatted_users_path( params.merge( :page => nil, :format => :pdf ) ) %></li>
      <li><%= link_to 'XML', formatted_users_path( params.merge( :page => nil, :format => :xml ) ) %></li>
      <li><%= link_to 'CSV', formatted_users_path( params.merge( :page => nil, :format => :csv ) ) %></li>
    </ul>
  </p>
<% end %>