<% title "People" %>

<div class="bar">
  <p>
    <%= link_to 'Show all', users_path( :page => '1' ) %> | 
    <%= link_to 'Show speakers', users_path( :params => { :speakers => '1', :page => '1' } ) %>
  </p>
</div>

<h3><%= yield(:title) %></h3>

<% for user in @users %>
  <div class="grid-item">
      <%=
        gravatar(
          user.email, 
          :size => 50, 
          :default => "#{base_url}/images/avatar.png",
          :class => 'avatar',
          :alt => "avatar de #{user.name}"
        )
      %>
      
      <br/>
      
      <%= link_to user.name, user %>

    <% if admin? %>
      <div class="tiny-actions">
        <%= link_to image_tag('edit.png'), edit_user_path(user) %>
        <%= link_to image_tag('delete.png'), user, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="pagination">
  <p><% if @users.respond_to?( 'total_pages' ) %><%= will_paginate @users %><% end %></p>
</div>