<% title "People" %>
<ul>
  <li><%= link_to 'All', users_path( :page => '1' ) %></li>
  <li><%= link_to 'Speakers', users_path( :params => { :speakers => '1', :page => '1' } ) %></li>
</ul>

<% if @users.respond_to?( 'total_pages' ) %>
  <p><%= will_paginate @users %></p>
<% end %>

<table>
  <tr>
  </tr>

<% for user in @users %>
  <tr>
    <td>
      <%=
        gravatar(
          user.email, 
          :size => 32, 
          :default => "#{base_url}/images/avatar.png",
          :class => 'avatar',
          :alt => "avatar de #{user.name}"
        )
      %>
    </td>
    <td><%= link_to user.name, user %></td>
    <% if admin? %>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<% if @users.respond_to?( 'total_pages' ) %>
  <p><%= will_paginate @users %></p>
<% end %>
