<% title "Reset your password" %>

<h3><%= yield(:title) %></h3>

<%= error_message_on @user, :password, :prepend_text => 'Invalid password: ' %>

<% form_tag reset_password_path(:id => params[:id]) do %>
  <p><%= label_tag 'password', 'New password' %><br/>
  <%= password_field_tag 'password', nil %></p>
  <p><%= label_tag 'password', 'Confirm new password' %><br/>
  <%= password_field_tag 'password_confirmation', nil %></p>

  <p><%= submit_tag "Save new password" %></p>
<% end %>
