<% title "People: #{@user.name}" %>

<%=
  gravatar(
    @user.email, 
    :size => 32, 
    :default => "#{base_url}/images/avatar.png",
    :class => 'avatar',
    :alt => "avatar de #{@user.name}"
  )
%>

<%= simple_format( @user.text ) %>

<% if !@user.personal_web_url.blank? %>
  <p>
    <%= link_to @user.personal_web_name, @user.personal_web_url %>
  </p>
<% end %>

<% if !@user.company_url.blank? %>
  <p>
    And works at <%= link_to @user.company_name, @user.company_url %>
  </p>
<% end %>

<% if !@user.speaker_on_visibles_for_user( current_user ).empty? %>
  <div>
    <h3>and Presenting</h3>
    <ul>
      <% @user.speaker_on_visibles_for_user( current_user ).each do |paper| %>
        <li>
          <strong><%= link_to paper.title, paper %></strong> (<%= paper.status %>)
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if logged_in? && (admin? || @user == current_user) %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
