<%= f.error_messages %>

<p>
  <%= f.label :name, "Name", :required => true %><br />
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :price_cents, "Price in cents", :required => true %><br />
  <%= f.text_field :price_cents %>
</p>

<p>
  <%= f.label :capacity, "Capacity", :required => true %><br />
  <%= f.text_field :capacity %>
</p>

<p>
  <%= f.label :description, "Description" %><br />
  <%= f.text_area :description %>
</p>