<% title 'List of Events' %>

<h3><%= yield(:title) %></h3>

<div class="entry">

  <p>
    This is a list of things happenning at the conference:
  </p>
  
  <ul>
  <% for event in @events %>
    <li><%= link_to event.name, event %></li>
  
    <p>
      <% if admin? %>
        <%= link_to image_tag('edit.png'), edit_event_path(event) %></td>
        <%= link_to image_tag('delete.png'), event, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </p>
  <% end %>
  </ul>
  
  <% if admin? %>
    <p><%= link_to 'New event', new_event_path %></p>
  <% end %>
</div>