<% form_tag( @cart.paypal_url( complete_cart_url, notificate_cart_url ) ) do %>
  <ul>
  <% @cart.events.each do |event| %>
    <li>        
      <%= event.name %> (<%= event.price_euros %>€)
    </li>
  <% end %>
  </ul>
  
  <p>TOTAL: <span id="total"><%= @cart.total_price_on_euros %>€</span></p>
  
  <p>
    <%= @cart.invoice_info %>
  </p>
  
  <p>
    <%= submit_tag "Pay, throught PayPal", :disabled => false, :disable_with => "Please wait..." %> |
    <%= link_to 'Modify cart', cart_path %>
  </p>
<% end %>