<% title 'Confirm your Purchase' %>

<% form_tag( APP_CONFIG[:paypal_url] ) do %>
  <ul>
  <% @cart.events.each do |event| %>
    <li>        
      <%= link_to event.name, event_path(event) %> (<%= event.price_euros %>€)
    </li>
  <% end %>
  </ul>
  
  <p>TOTAL: <span id="total"><%= @cart.total_price_on_euros %>€</span></p>
  
  <h3>Invoice info</h3>
  <p>
    <%= simple_format @cart.invoice_info %>
  </p>
  
  <!-- PAYPAL parameters:INI -->
  <%= hidden_field_tag :cmd, "_s-xclick" %>
  <%=
    hidden_field_tag( 
      :encrypted,
      @cart.paypal_encrypted(
        complete_cart_url( @cart ),
        notificate_cart_url( @cart, :secret => APP_CONFIG[:paypal_secret] )
      )
    )
  %>
  <!-- PAYPAL parameters:END -->
  
  <p>
    <%= submit_tag "Pay, throught PayPal", :disabled => false, :disable_with => "Please wait..." %> |
    <%= link_to 'Modify cart', new_cart_path %>
  </p>
<% end %>