<% form_tag( Cart.paypal_url( @cart.events, complete_cart_url, 'http://fguillen.no-ip.info:3035/payment_notifications' ) ) do %>
  <ul>
  <% @cart.events.each do |event| %>
    <li>        
      <%= event.name %> (<%= event.price_cents %>)
    </li>
  <% end %>
  </ul>
  
  <p>TOTAL: <span id="total"><%= @cart.total_price %></span></p>
  
  <p>
    <%= @cart.invoice_info %>
  </p>
  
  <p>
    <%= submit_tag "Pay, throught PayPal", :disabled => false, :disable_with => "Please wait..." %> |
    <%= link_to @cart %>
  </p>
<% end %>