<% title 'Purchase Events' %>

<h3><%= yield(:title) %></h3>

<div class="entry">
<% form_tag(confirm_cart_path(@cart)) do %>
  <ul>
    <% Event.all.each do |event| %>
      <% if event.is_paid_for_user?( current_user ) %>
        <li>
          <%= link_to event.name, event_path(event) %> (<%= event.price_euros %>€)
          <span class="paid">Paid</span>
        </li>
      <% elsif event.out_of_capacity? %>
        <li>
          <strike><%= link_to event.name, event_path(event) %> (<%= event.price_euros %>€)</strike>
          <span class="full">Complete</span>
        </li>
      <% else %>
        <li>
          <%= 
            check_box_tag(
              'event_ids[]',
              event.id,
              @cart.events.include?( event ),
              { :onchange => 'update_total_cart_price()', :id => "event_#{event.id}" }
            )
          %>
        
          <%=
            hidden_field_tag(
              'price[]', 
              event.price_cents, 
              :id => "price_#{event.id}"
            )
          %>
        
          <%= link_to( event.name, event_path(event) ) %> 
          (<%= event.price_euros %>€) 
          (remaining capacity: <%= pluralize( event.remaining_capacity, 'place' ) %> available)
        </li>
      <% end %>
    <% end %>
  </ul>
  
  <br />
  
  <p><strong>TOTAL: <span id="total">0</span>€</strong></p>
  
  <br />
  
  <p>
    <%= label_tag :invoice_info, "Invoice Info" %> <span class="example">Bussiness Details (Full Name, Address, VAT number, etc)</span><br/>
    <%= text_area_tag :invoice_info, @cart.invoice_info %>
  </p>
  
  <p>
    <%= submit_tag "Confirm", :disabled => false, :disable_with => "Please wait..." %>
  </p>
<% end %>

</div>

<script>
  function update_total_cart_price(){
    total = 0;
    $(":checkbox").each(
      function() {
        if( this.checked ){
          total += parseInt( $('#price_' + this.value).val() );
        }
      }
    );
    total = total / 100;
    total = total.toFixed(2);
    $('#total').html( total );
  }
  
  $(document).ready( function(){ update_total_cart_price(); } );
</script>