<% if @cart.purchased_at %>
  <% title "Purchase for #{@cart.user.name} on #{@cart.purchased_at.to_s(:cool)}" %>
<% else %>
  <% title "Created for #{@cart.user.name} on #{@cart.created_at.to_s(:cool)}" %>
<% end %>

<h3><%= yield(:title) %></h3>

<p><strong>id:</strong> <%= @cart.id %></p>
<% if @cart.purchased_at %>
  <p><strong>purchased at:</strong> <%= @cart.purchased_at.to_s(:cool) %></p>
<% end %>
<p><strong>user:</strong> <%= link_to @cart.user.name, @cart.user %></p>
<p><strong>status:</strong> <%= @cart.status %></p>
<p><strong>transaction id:</strong> <%= @cart.transaction_id %></p>

<h4>Events purchased</h4>
<p>
  <ul>
    <% @cart.events.each do |event| %>
      <li><%= link_to event.name, event %> (<%= event.price_euros %>€)</li>
    <% end %>
  </ul>
</p>

<h4>Total price</h4>
<p><strong><%= @cart.total_price_on_euros %>€</strong></p>

<h4>Invoice info</h4>
<p><%= simple_format(@cart.user.invoice_info) %></p>

<!-- Invoice creation closed -->
<% if false %>
  <% if admin? && @cart.is_purchased? %>
    <h4>Invoice</h4>
    <% if @cart.invoice %>
      <%= link_to 'Download invoice', @cart.invoice.url_path %>
    <% else %>
      <%= link_to 'Create invoice', invoices_path( :id => @cart.id ), :method => 'post'  %>
    <% end %>
  <% end %>
<% end %>