<% title 'Calendar' %>

<% @dates.each do |date| %>
  <h3><%= date.strftime("%A %d %B %Y")  %></h3>
  <% @rooms.each do |room| %>
    <% papers_on_room = @papers.select{ |p| p.on_date_and_room_id?( date, room.id ) } %>
    <% if !papers_on_room.empty? %>
      <h4>on room '<%= room.name %>'</h4>
      <% papers_on_room.each do |paper| %>
      
        <% if paper.family == Paper::FAMILY[:BREAK] %>
          <h5 class="break">Break at <%= paper.date.strftime("%H:%M %p") %>, <%= link_to paper.title, paper %></h5>
        <% else %>
          <h5>at <%= paper.date.strftime("%H:%M %p") %>, <%= link_to paper.title, paper %></h5>
          <%= image_tag paper.photo.url(:medium) %>
        <% end %>
        
        <p>
          <% if admin? %>
            <%= link_to 'Edit', edit_paper_path(paper) %>
          <% end %>
        </p>
        
      <% end %>
    <% end %>
  <% end %>
<% end %>