<h2>Calendar</h2>

<% @dates.each do |date| %>
  <h3><%= date.to_s %></h3>
  <% @rooms.each do |room| %>
    <h4><%= room.name %></h4>
    <% @papers.select{ |p| p.on_date_and_room_id?( date, room.id ) }.each do |paper| %>
      <h5><%= link_to paper.title, paper %></h5>
      <p>Date: <%= paper.date %></p>
      <p>Room: <%= paper.room.name %></p>
    <% end %>
  <% end %>
<% end %>