<p>
  <ul>
    <% paper.resources.each do |resource| %>
      <li>
        <%= link_to resource.name_link, resource.url_link %>
        <%= link_to 'delete', paper_resource_path( paper, resource ), :method => :delete, :confirm => 'Are you sure?' %>
      </li>
    <% end %>
  </ul>
</p>
<p>
  <% form_for [paper, Resource.new], :html => { :multipart => :true } do |f| -%>
    <p>
      <%= f.label :name %> (could be blank)<br />
      <%= f.text_field :name %>
    </p>

    <h2>use an url</h2>
    <p>
      <%= f.label :url %><br />
      <%= f.text_field :url %>
    </p>
    
    <h2>or upload a file</h2>
    <p>
      <%= f.label :file %><br />
      <%= f.file_field :file %>
    </p>
    
    <p>
      <%= f.submit "Create" %>
    </p>
  <% end -%>
</p>