<p>
  <ul>
      <% paper.speakers.sort{ |a,b| a.user.name <=> b.user.name }.each do |speaker| %>
        <li>
          <%= link_to speaker.user.name, speaker.user %>
          <span class="actions">
          <%= 
            link_to_remote(
              image_tag('delete.png'),
              :url => paper_speaker_path( @paper, speaker ), 
              :method => :delete,
              :update => { :success => "speakers", :failure => "speakers" },
              :loading => "$('#speaker_#{speaker.id}').show()",
              :complete => "$('#speaker_#{speaker.id}').hide()",
              :confirm => 'Are you sure?'
            ) 
          %>
          </span>
          <span id='speaker_<%= speaker.id %>' style="display:none"><%= image_tag 'spinner.gif' %></span>
        </li>
      <% end %>
  </ul>
</p>
<p>
  <%
    form_remote_for(
      [@paper, Speaker.new],
      :update => { :success => "speakers", :failure => "speakers" },
      :loading => "$('#speakers_loading').show()",
      :complete => "$('#speakers_loading').hide();"
    ) do |f|
  %>
    <%=
      select(
        "speaker", 
        "user_id", 
        paper.user_candidates.collect{|u| [ u.name, u.id ] }, 
        { :include_blank => true }
      )
    %>
    <%= f.submit "Add Speaker" %>
    <span id='speakers_loading' style="display:none"><%= image_tag 'spinner.gif' %></span>
  <% end -%>
</p>