<% title 'List of Talks' %>

<% if current_page?('/') %>
  <div id="cover"><%= image_tag 'cover.png' %></div>

  <% if !logged_in? %>
    <%= render :partial => "soldout" %>
  <% end %>
<% end %>

<h3><%= yield(:title) %></h3>

  <% if @papers.empty? %>
  <div class="entry">
    <p>Coming soon ...</p>
  </div>
  <% end %>

  <% @papers.each do |paper| %>
  <div class="entry shorten">
    <%= image_tag paper.photo.url(:small), :class => "avatar" %>
    <h4><%= link_to paper.title, paper %></h4>
    
    <%= render :partial => 'papers/by', :locals => { :paper => paper } %>

    <% if current_user && current_user.admin? %>
      <div class="actions">
        <%= link_to image_tag('edit.png') + 'Edit', edit_paper_path(paper) %>
        <%= link_to image_tag('delete.png') + 'Destroy', paper, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    <% end %>

    <%= shorten(simple_format(paper.description), paper) %>
    <div class="clear"></div>
  </div>
<% end %>
