<% title 'List of Talks' %>

<% if current_page?('/') %>
  <div id="cover"><%= image_tag 'cover.png' %></div>

  <div id="extra">
    <div class="box">
      <%= link_to image_tag('register.png'), signup_path, :id => "register-button" %>
      <h5>Registration open!</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore.
      </p>
    </div>
  </div>
<% else%>
  <hr/>
<% end %>

<h3><%= yield(:title) %></h3>

<% @papers.each do |paper| %>
  <div class="entry">
    <%= image_tag paper.photo.url(:small), :class => "avatar" %>
    <h4><%= link_to paper.title, paper %></h4>
    <% if current_user && current_user.admin? %>
    <div class="posted">
        <%= image_tag "edit.png"%> <%= link_to 'Edit', edit_paper_path(paper) %>
        <%= image_tag "delete.png"%> <%= link_to 'Destroy', paper, :confirm => 'Are you sure?', :method => :delete %>
    </div>
    <% end %>
    <p><%= simple_format(paper.description) %>
  </div>
<% end %>