<% title "#{@paper.title}" %>

<%= image_tag @paper.photo.url(:medium) %>

<h3>Description</h3>
<p><%= simple_format @paper.description %></p>

<h3>Speakers</h3>
<p>
  <ul>
      <% @paper.speakers.collect{ |s| s.user }.each do |user| %>
        <li>
          <%=
            gravatar(
              user.email, 
              :size => 32, 
              :default => "#{base_url}/images/avatar.png",
              :class => 'avatar',
              :alt => "avatar de #{user.name}"
            )
          %>
          <%= link_to user.name, user %>
        </li>
      <% end %>
  </ul>
</p>

<h3>Date</h3>
<p>
  at <%= @paper.date %> 
  on <%= @paper.room.nil? ? 'not room yet' : @paper.room.name %>
</p>

<h3>Resources:</h3>
<p>
  <ul>
    <% @paper.resources.each do |resource| %>
      <li><%= link_to resource.url_link, resource.url_link %></li>
    <% end %>
  </ul>
</p>

<div id='valorations'>
  <%= render :partial => 'papers/valorations', :locals => { :paper => @paper } %>
</div>

<h3>Attendees</h3>
<div>
  <ul>
    <% @paper.attendees.each do |attendee| %>
      <li><%= attendee.user.name %></li>
    <% end %>
  </ul>
  <%= render :partial => 'papers/attendees', :locals => { :paper => @paper } %>  
</div>

<h3>Comments</h3>
<div>
  <ul id="comments">
    <%= render :partial => 'papers/comment', :collection => @paper.comments %>
  </ul>
</div>

<% if logged_in? %>
  <h4>New Comment</h4>
  <div id="comment_error"></div>
  <div>
    <%
      form_remote_for(
        [@paper, Comment.new],
        :update => { :success => "comments", :failure => "comments" },
        :position => :bottom,
        :loading => "$('#comment_loading').show()",
        :complete => "$('#comment_loading').hide();",
        :success => "$('#comment_textarea').val('')"
      ) do |f| 
    -%>
      <%= f.error_messages %>

      <%= f.text_area :text, :id => 'comment_textarea' %>
      <%= f.submit "Submit", :disable_with => 'Submiting...' %>
      <div id='comment_loading' style="display:none"><%= image_tag 'spinner.gif' %></div>
    <% end -%>
  </div>
<% end %>


<p>
  <% if logged_in? && current_user.is_speaker_on_or_admin?( @paper ) %>
    <%= link_to 'Edit', edit_paper_path(@paper) %>
  <% end %>
</p>
