<% title "#{@paper.title}" %>

<h3>
  <%= yield(:title) %>
  <% if logged_in? && current_user.is_speaker_on_or_admin?( @paper ) %>
    <%= link_to image_tag('edit.png'), edit_paper_path(@paper) %>
  <% end %>
</h3>

<div class="entry">
  <%= image_tag @paper.photo.url(:medium), :class => 'avatar' %>

  <h6>
    On <%= @paper.date.nil? ? '(not date designed yet)' : @paper.date.strftime("%b #{@paper.date.day.ordinalize}, %H:%M %p") %> 
    at <%= @paper.room.nil? ? '(not room designed yet)' : @paper.room.name %>
  </h6>

  <%= render :partial => 'papers/by', :locals => { :paper => @paper } %>

  <%= simple_format @paper.description %>

  <div class="clear"></div>

  <% if !@paper.resources.empty?  %>
  <div id="resources">
    <h6>Resources</h6>
    <ul>
      <% @paper.resources.each do |resource| %>
        <li><%= link_to resource.url_link, resource.url_link %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  
  <div id="valorations">
    <%= render :partial => 'papers/valorations', :locals => { :paper => @paper } %>
  </div>
  
  <div id="attendees">
    <%= render :partial => 'papers/attendees', :locals => { :paper => @paper } %>
  </div>
  
  <div id="comments">
    <h6>Comments (<%=h @paper.comments.count %>)</h6>
    <div id="comments_list">
      <%= render :partial => 'papers/comment', :collection => @paper.comments %>
    </div>
    
    <% if logged_in? %>
      <div class="comment_error"></div>

        <%
          form_remote_for(
            [@paper, Comment.new],
            :update => { :success => "comments_list", :failure => ".comment_error" },
            :position => :bottom,
            :loading => "$('#comment_loading').show()",
            :complete => "$('#comment_loading').hide();",
            :success => "$('#comment_textarea').val('')"
          ) do |f| 
        -%>
          <%= f.error_messages %>
    
          <%= f.label :new_comment, 'New Comment', :required => true %><br/>
          <%= f.text_area :text, :id => 'comment_textarea' %><br/>
          <div id='comment_loading' style="display:none"><%= image_tag 'spinner.gif' %></div>
          <%= f.submit "Submit", :disable_with => 'Submiting...' %>
        <% end -%>
    <% end %>
  </div>
</div>
