<% title 'List of Rooms' %>

<h3><%= yield(:title) %></h3>

<div class="entry">
  <% @rooms.each do |room| %>
    <p>
      <%= link_to room.name, room %>
  
      <% if admin? %>
      <span class="actions">
        <%= link_to image_tag('edit.png'), edit_room_path(room) %>
        <%= link_to image_tag('delete.png'), room, :confirm => 'Are you sure?', :method => :delete %>
      </span>  
      <% end %>
    </p>
  <% end %>
  
  <% if admin? %>
    <br/>
    <p><%= link_to 'Create new room', new_room_path %></p>
  <% end %>
</div>