<div class="menu">
  <ul>
    <li><%= link_to 'Blog' %></li>
    <li><%= link_to 'Calendar', calendar_path %></li>
    <li><%= link_to 'Talks', papers_path %></li>
    <li><%= link_to 'Speakers', users_path( :speakers => :true )%></li>
    <li><%= link_to 'People', users_path %></li>
    <li><%= link_to 'Help' %></li>
  </ul>
</div>