<ul>
<% if logged_in? %>
  <li><%= menu_to 'Perfil', user_path(current_user) %></li>
  <li><%= menu_to 'Pay!', cart_path, :class => "highlight" %></li>
  <li><%= menu_to 'Logout', logout_path %></li>
<% else %>
  <li><%= menu_to 'Register!', new_user_path, :class => "highlight" %></li>
  <li><%= menu_to 'Login', new_session_path %></li>
<% end %>
</ul>