<ul>
<% if logged_in? %>
  <li><%= menu_to 'Profile', user_path(current_user) %></li>
  
  <% if current_user.everything_paid? %>
    <li><%= menu_to 'Pay!', new_cart_path %></li>
  <% else %>
    <li><%= menu_to 'Pay!', new_cart_path, :class => "highlight" %></li>
  <% end %>
  
  <li><%= menu_to 'Logout', logout_path %></li>
<% else %>
  <li><%= menu_to 'Register!', new_user_path, :class => "highlight" %></li>
  <li><%= menu_to 'Login', new_session_path %></li>
<% end %>
</ul>