<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= h(yield(:title) || "Euruko: #{controller.action_name}") %></title>
    <link rel="shortcut icon" href="favicon.ico" />

    <%= stylesheet_link_tag 'screen', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'print', :media => 'print' %>
    <!--[if IE]> 
      <%= stylesheet_link_tag 'ie', :media => "screen, projection" %>  
    <![endif]-->
  </head>

  <body>
    <div id="euruko" class="canvas showgrid">
      <div id="header" class="span-24 last">
        <h1>Euruko 2009</h1>
        <%= render :partial => 'partials/menu' %>
      </div>

      <div id="main" class="span-18">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => name %>
        <% end %>

        <%= yield %>
      </div>

      <div id="sidebar" class="span-6 last">
      <% if !current_user %>
        <%= render :partial => 'partials/login_box' %>
      <% elsif admin? %>
        <%= render :partial => 'partials/admin_menu' %>
      <% else %>
        <%= render :partial => 'partials/user_menu' %>
      <% end %>

        <div id="sponsors">
          <p>Dude! sponsors here</p>
        </div>
      </div>

      <div id="footer" class="span-24 last">
        <%= render :partial => 'partials/menu' %>
        <%= render :partial => 'partials/credits' %>
      </div>
    </div>

    <%= render :partial => 'partials/analitycs' %>
  </body>
</html>