<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>EuRuKo 2009 - <%= yield(:title) || "European Ruby Conference" %></title>
    <link rel="shortcut icon" href="/favicon.ico" />

    <%= stylesheet_link_tag 'reset', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'screen', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'forms', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'print', :media => 'print' %>

    <!--[if IE]> 
      <%= stylesheet_link_tag 'ie', :media => "screen, projection" %>  
    <![endif]-->

    <%= javascript_include_tag :defaults %>
  </head>

  <body>
    <div id="header">
      <div id="nav">
        <%= render :partial => 'layouts/menu' %>
      </div>
    </div>

    <div id="page">

      <div class="main">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => name %>
        <% end %>
      
        <div id="content-wrapper" class="span-16">
          <div id="content">
            <div id="logo"><%= image_tag 'logo.png' %></div>
            <%= yield %>
          </div>
        </div>
      
        <div id="sidebar-wrapper">
          <div id="sidebar">      
            <%= render :partial => 'layouts/sidebar' %>
          </div>
        </div>
        
        <div class="clear"></div>
      </div>

      <div id="footer-wrapper">
        <div id="footer">
          <%= render :partial => 'layouts/footer' %>
        </div>
      </div>

    </div>

    <%= render :partial => 'layouts/analytics' %>
  </body>
</html>